<a {{action "toggleDetails"}}>{{messageTitle}}</a>

{{#if showDetails}}
  <div class="details">
    {{#if log.isReport}}
      <ul>
        {{#each messageDetails as |detail|}}
          <li>{{detail}}</li>
        {{/each}}
      </ul>
    {{else}}
      <span>{{messageDetails}}</span>
    {{/if}}
  </div>
{{/if}}