<a {{action "toggleDetails"}} role="button" title={{i18n "mentionables.info.title"}}>
  {{d-icon "info-circle"}}
  {{i18n "mentionables.info.title"}}
</a>
{{#if showDetails}}
  <div class="details">
    {{i18n "mentionables.info.total" total=info.total}}
  </div>
{{/if}}
