<div class="title">
  <h2>{{i18n "mentionables.title"}}</h2>
  {{mentionables-info info=info}}

  <div class="right">
    {{conditional-loading-spinner
      condition=loading
      size="small"
    }}
    {{d-button
      icon="redo"
      action="refresh"
      title="refresh"
      label="refresh"
    }}
    {{d-button
      icon="trash-alt"
      label="mentionables.delete_all"
      title="mentionables.delete_all"
      action="deleteData"
      class="btn-danger"
    }}
    {{d-button
      icon="download"
      label="mentionables.import"
      title="mentionables.import"
      action="startImport"
      class="btn-primary"
    }}
  </div>
</div>

{{#if message}}
  <div class="metionables-action-message">{{message}}</div>
{{/if}}

{{#load-more selector=".log-list tr" action=(action "loadMore")}}
  {{#if noResults}}
    <p>{{i18n "search.no_results"}}</p>
  {{else}}
    <table class="log-list table grid">
      <thead>
        <tr>
          <th>Type</th>
          <th>Source</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each logs as |log|}}
          <tr>
            <td>{{log.type}}</td>
            <td>{{dash-if-empty log.source}}</td>
            <td>{{mentionables-log-message log=log}}</td>
            <td>{{bound-date log.date}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{conditional-loading-spinner
    condition=refreshing
  }}
{{/load-more}}
